#page-landing{
    background:var(--color-primary);
}

#page-landing #container{
    color:white;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/*buttons Customizer*/
#page-landing #container .buttons-container{
    
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 3.2rem 0;
}
.buttons-container a.requests:hover,
.buttons-container a.reservation:hover,
.buttons-container a.cooling:hover,
.buttons-container a.user:hover,
.buttons-container a.client:hover,
.buttons-container a.table:hover,
.buttons-container a.closure:hover{
    background: var(--color-text-complement);
    color: var(--color-text-in-primary);
}


#page-landing #container .logo-container{
   margin-top: 5.6rem;
   text-align: center;
}

.logo-container img{
    height: 20rem;
    display: block;
    margin-top: .4rem;
    margin-bottom: 1.4rem;
}


.buttons-container a{
    width: 15rem;
    height: 5rem;

    border-radius: 0.8rem;
    margin-right: 0.8rem;

    font:556 2.0rem Archivo;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;

    transition: background 1s;

    color: black;
    background: var(--color-background);


}

.logo-container p{

    line-height: 2.6rem;
    color:var(--color-text-base);
    margin-top: 2.4rem;

    font: 700 2.4rem Archivo;
}







